    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: rgb(226, 209, 154);
        color: black;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    header {
        min-height: 90px;
        background-color: rgb(71, 73, 73);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    h1,
    h2 {
        text-align: center;
    }
    
    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #026407;
        padding: 1rem;
        border-radius: 8px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    nav a:hover {
        background-color: #6a8e235f;
        transition: .3s ease;
    }
    
    nav ul {
        display: flex;
        gap: 3rem;
        text-decoration: none;
        list-style: none;
    }
    
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
    }
    
    main p {
        font-weight: 600;
        line-height: 1.5;
    }
    
    #main-footer {
        display: flex;
        background-color: rgb(71, 73, 73);
        height: 10vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1rem 0 0 0;
        padding: 1rem;
    }
    
    #main-footer p {
        font-weight: bold;
        color: white;
    }
    
    .images-gallery {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: auto;
        margin: 2rem 0 0 0;
    }
    
    .images-gallery img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border-radius: 8px;
    }
    
    .images-gallery img:hover {
        transform: scale(1.05);
        transition: .5s ease;
    }
    
    @media (max-width: 1050px) {
        .images-gallery {
            grid-template-columns: 1fr;
        }
    }
    
    @media (max-width: 768px) {
        nav ul {
            gap: 0.5rem;
        }
        nav a {
            padding: 8px;
            font-size: 1.1rem;
        }
    }
    
    @media (max-width: 500px) {
        .images-gallery img {
            width: 95%;
            height: auto;
            margin: 0 auto;
        }
        .images-gallery {
            gap: 0.3rem;
        }
    }
    
    @media (max-width: 320px) {
        nav a {
            padding: 4px;
            font-size: 0.9rem;
        }
    }